Repository Proyecto-Docencia/Proyecto-main, changes with the owners that CODEOWNERS names for each.
All owners: @frontend-team, @backend-team, @devops-team

db funcioando
  .gitignore
  backend/Dockerfile
  backend/entrypoint.sh
  backend/requirements.txt
  backend/src/chat_app/migrations/0001_initial.py
  backend/src/chat_app/migrations/__init__.py
  backend/src/config/settings.py
  backend/wait_for_db.sh
  docker-compose.yml
  env/README.md
Owners: @backend-team, @devops-team

Eliminado "generar voz tex" y el PDF a HTML
  frontend/src/components/PdfHtmlViewer.tsx
Owners: @frontend-team

Eliminado "generar voz tex" y el PDF a HTML
  frontend/src/utils/pdfExtract.ts
Owners: @frontend-team

Eliminado "generar voz tex" y el PDF a HTML
  frontend/src/pages/MaterialDetail.tsx
Owners: @frontend-team

backend
  backend/az_pipeline.yml
  backend/src/config/urls.py
  backend/src/config/views.py
Owners: @backend-team

subi un git ignore para probar con credenciales aws
  .gitignore
Owners: none

Fix: Backend optimizado para Cloud Run - Puerto BD corregido (3306), entrypoint mejorado, scripts de despliegue, documentacion completa
  backend/.env.example
  backend/.gcloudignore
  backend/.gitignore
  backend/CHECKLIST_DEPLOYMENT.md
  backend/Dockerfile
  backend/ESTRUCTURA_ORGANIZADA.md
  backend/GUIA_DESPLIEGUE_CLOUD_SHELL.md
  backend/INDEX.txt
  backend/INICIO_RAPIDO.md
  backend/LEEME_PRIMERO.md
  backend/README.md
  backend/README_LOCAL_DEV.md
  backend/RESUMEN_SOLUCION.md
  backend/SOLUCION_CLOUD_RUN.md
  backend/az_pipeline.yml
  backend/cloudbuild.yaml
  backend/deploy-cloudrun.ps1
  backend/deploy-cloudrun.sh
  backend/deploy.sh
  backend/entrypoint.sh
  backend/env.example
  backend/src/config/settings.py
  backend/src/config/urls.py
  backend/src/config/views.py
  backend/src/templates/hola.html
  backend/verificar-pre-deploy.ps1
  backend/wait_for_db.sh
Owners: @backend-team

arreglo backend
  backend/DEPLOY_DESDE_CLOUD_SHELL.md
Owners: @backend-team

Update: Frontend configurado para conectarse a backend Cloud Run
  GUIA_REORGANIZAR_REPOS.md
  docker-compose.yml
  frontend/CONFIGURACION_BACKEND.md
  frontend/Dockerfile
  frontend/docker-compose.yml
Owners: @devops-team, @frontend-team

CODEOWNERS:

# Example ownership (adjust to real GitHub usernames or teams)
/frontend/ @frontend-team
/backend/ @backend-team
/infra/ @devops-team
/docker-compose.yml @devops-team
/README.md @backend-team
